body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00000005;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Historich';
  src: local('Historich'), url('../fonts/h.ttf') format('truetype');
}

@font-face {
  font-family: 'basic';
  src: local('basic'), url('../fonts/basic.ttf') format('truetype');
}

@font-face {
  font-family: 'free';
  src: local('free'), url('../fonts/free.ttf') format('truetype');
}

.content-section {
  background-color: #7a7a7a00;
  font-family: Historich;
  font-size: 5em;
  color: 222222;
}

.content-section-v2 {
  background-color: #111111ff;
  font-family: Historich;
  font-size: 5em;
  color: #ffffff;
}
.rater {
  display: flex;
  flex-direction: row; 
}

.project-thumb-container {
  background-color: #aaabbb22;
  transition: all 0.5s
}

.project-thumb-container:hover {
  background-color: #aaabbbaa
}

.project-thumb :hover {
  filter: blur(5px);
  z-index: 10;
  transition: all 0.5s;
}


footer {
  height: 100px;
}

.player-wrapper {
  position: relative;
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (max-width: 992px){


  .project-thumb-container {
    background-color: #aaabbbaa


    }
}